.main{
    background-color:  #315951E5;
    color: white;
    padding: 10px 10px;
    border-radius: 30px;
    border: solid 1px #315951E5;
}
.second{
 background-color: white;
 color: black;
 padding: 10px 10px;
 border-radius: 30px;
}
.fa-ban{
    font-size: 80px !important;
}