@import "../../../assets/abstracts/layout";
@import "../../../assets/abstracts/changePass";
.show-password{
  position: absolute;
  right: 3px;
  top:28px;
  transform: translateY(-50%);
}
.picture{
    width:200px;
    height: 200px;
    margin-bottom: 10px !important;
    margin: auto;
    border-radius: 15%;
    overflow: hidden !important;
  }