.row{
    border-radius: 16px;
    background-color: #FFFFFF !important;
}
.btn-main{
    background-color: #EF9B28;
    color:white;
    border-radius: 24px;
    padding: 14px 28px 14px 28px;
     border: 1px #EF9B28 solid;
     font-family: Montserrat;
}
.btn-second{
    background-color: white;
    color: #0E382F;
    border-radius: 24px;
    border: 1px black solid;
    padding: 14px 28px 14px 28px !important;
    font-family: Montserrat;
}