.pic{
   // width: 300px;
    text-align: center;
}
.text-center{
    font-size: 45px;
}
.btn{
    background-color: rgba(238, 57, 57, 0.81);
    color: white;
}
.fa-circle-xmark {
    color: rgb(208, 40, 40);
    font-size: 25px;
}