#forget-password{
    background-image: url(../../assets/Images/forgot-passbackground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    .auth-card{
        background-color: #31595193;
         border-radius: 16px;
    }
}