.background-home{
    background-image: url(../../assets/Images/home-bg.svg);
    height: 40vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
    margin-top: 15px;
    p{
        font-size: 40px;
      
    }

}
.text-gray{
    color: rgba(128, 128, 128, 0.902);
}

    
