.pic{
    width: 60px !important;
    border-radius: 30px;
   margin-left: 20px;
}
.fa-bell{
    color:  #EF9B28;
    
    border-right: 1px solid  rgba(110, 107, 107, 0.493)!important;
}
.icon{
    color: #EF9B28;
}