table{

    thead{
        height: 38px !important;
        background-color: #315951E5 !important;
    }
    th{
        background-color: #315951E5 !important;
        color:white;
        border-left: 2px solid #315951E5;
        border-right: 2px solid #315951E5;
        text-transform: capitalize;
        padding: 10px;
        font-size: 20px;
    }
 }
 .menu-icon{
    color:#0E382F;
}
.bg-header{
    background-color: #fff; 
  }