#reset-password{
    background-image: url(../../assets/Images//resetPass-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    //position: fixed;
    .auth-card{
        background-color: #31595193;
         border-radius: 16px;
    }
}