.main{
    background-color: #EF9B28;
    color:white;
    border-radius:32px !important;
    border:#EF9B28;
    padding: 10px 10px;
}
.second{
    background-color:#009247;
    color:white;
    border-radius:32px !important;
    border:#EF9B28;
    padding: 10px 10px;
}