<section id="reset-password" class="">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row py-5">
            <div class="text-center ">
                <img src="../../../assets/Images/logo.svg">
            </div>
            <div class="col-md-12 pt-3">
                <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit(resetPassForm)">
                    <div class="auth-card p-5">
                        <span class="text-white">Welcome to PMS</span><br>
                        <span class="text fw-bold">Reset Password</span>
                        <div class="pt-3">
                            <label class="pb-2">E-mail</label>
                            <mat-form-field class="w-100 custom-input">
                                <mat-label>Enter your email</mat-label>
                                <input formControlName="email" matInput placeholder="Enter your E-mail" required >
                              </mat-form-field>
                              <div *ngIf="resetPassForm.controls['email'].errors&&resetPassForm.controls['email'].touched" class="w-100 p-1">
                                <p class="text-danger" *ngIf="resetPassForm.controls['email'].errors['required']">email is required</p>
                                <p class="text-danger" *ngIf="resetPassForm.controls['email'].errors['email']">Email should be valid mail</p>
    
                              </div>
                        </div>
                        <div class="">
                            <label class="pb-2">OTP Verification</label>
                            <mat-form-field class="w-100">
                                <mat-label>Enter Verification</mat-label>
                                <input class="position-relative" formControlName="seed" matInput placeholder="Enter Verification" required>
                              
                              </mat-form-field>
                              <div *ngIf="resetPassForm.controls['seed']?.errors&&resetPassForm.controls['seed']?.touched" class="w-100 p-1">
                                <p class="text-danger" *ngIf="resetPassForm.controls['seed'].errors?.['required']">seed is required</p>
                               
    
                              </div>
                        </div>
                        <div class="">
                            <label class="pb-2">New Password</label>
                            <mat-form-field class="w-100">
                                <mat-label>Enter your Password</mat-label>
                                <input class="position-relative" formControlName="password" matInput placeholder="New Password" required [type]="hide ? 'password' :'text'">
                                <a class="show-password" (click)="hide = !hide">
                                    <i class="fa-solid icon" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </a>
                              </mat-form-field>
                              <div *ngIf="resetPassForm.controls['password']?.errors&&resetPassForm.controls['password']?.touched" class="w-100 p-1">
                                <p class="text-danger" *ngIf="resetPassForm.controls['password'].errors?.['required']">password is required</p>
                                <p class="text-danger" *ngIf="resetPassForm.controls['password'].errors?.['pattern']">Password should be start small capital</p>
    
                              </div>
                        </div>
                        <div class="">
                            <label class="pb-2">confirm Password</label>
                            <mat-form-field class="w-100">
                                <mat-label>confirm Password</mat-label>
                                <input class="position-relative" formControlName="confirmPassword" matInput placeholder="confirm Password" required [type]="hiden ? 'password' :'text'">
                                <a class="show-password" (click)="hiden = !hiden">
                                    <i class="fa-solid icon" [class]="hiden ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </a>
                              </mat-form-field>
                              <div *ngIf="resetPassForm.controls['confirmPassword']?.errors&&resetPassForm.controls['confirmPassword']?.touched" class="w-100 p-1">
                                <p class="text-danger" *ngIf="resetPassForm.controls['confirmPassword'].errors?.['required']">confirmPassword is required</p>
                                <p class="text-danger" *ngIf="resetPassForm.controls['confirmPassword'].errors?.['pattern']">confirm Password should be start small capital</p>
    
                              </div>
                        </div>
                       
                        <button [disabled]="resetPassForm.invalid" class="btn-main w-100 ">Save</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    </section>
