<section id="forget-password">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="text-center">
                <img src="../../../assets/Images/logo.svg">
            </div>
            <div class="col-md-12 pt-3">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
                    <div class="auth-card p-5">
                        <span class="text-white">Welcome to PMS</span><br>
                        <span class="text fw-bold">Forget Password</span>
                        <div class="pt-3">
                            <label class="pb-2">E-mail</label>
                            <mat-form-field class="w-100 custom-input">
                                <mat-label>Enter your email</mat-label>
                                <input formControlName="email" matInput placeholder="Enter your E-mail" required >
                              </mat-form-field>
                              <div *ngIf="forgotPasswordForm.controls['email'].errors&&forgotPasswordForm.controls['email'].touched" class="w-100 p-1">
                                <p class="text-danger" *ngIf="forgotPasswordForm.controls['email'].errors['required']">email is required</p>
                                <p class="text-danger" *ngIf="forgotPasswordForm.controls['email'].errors['email']">Email should be valid mail</p>
    
                              </div>
                        </div>
                      
                      
                        <button [disabled]="forgotPasswordForm.invalid" class="btn-main w-100 ">Verify</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    </section>
