<section class="px-0">
    <div class="header title shadow-sm px-5 bg-header py-4 d-flex justify-content-between">
        <h2>Tasks</h2>
        <button class="btn-main" routerLink="/dashboard/manager/tasks/add-edit-task"><i class="fa-solid fa-plus pe-2"></i>Add new Task</button>
    </div>
    <div class="mt-5 mx-5 rounded bg-white shadow">
        <div class="col-5 px-4 py-4">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Search</mat-label>
              <input matInput placeholder="" type="text" [(ngModel)]="searchKey" (keyup.enter)="getAllMyTasks()">
            </mat-form-field>
          </div>
        <table class="table shadow p-3 mb-5 bg-body-tertiary rounded-3">
            <thead>
                <tr>
                    <th class="col">Title</th>
                    <th class="col">Description</th>
                    <th class="col">Status</th>
                    <th class="col">CreationDate</th>
                    <th class="col">ModificationDate</th>
                    <th class="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tasks">
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.creationDate|date:'MMM d, y, h:mm:ss a'}}</td>
                    <td>{{item.modificationDate|date:'MMM d, y, h:mm:ss a'}}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="">
                            <mat-icon class="">more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" class="rounded-4 ps-3 pe-3">
                            <!-- <button mat-menu-item>
                                <i class="fa-solid fa-eye menu-icon"></i>
                              <span class="ps-3">View</span>
                            </button> -->
                            <button mat-menu-item [routerLink]="['edit-task',item.id]">
                                <i class="fa-solid fa-pen-to-square menu-icon"></i>
                              <span class="ps-3 ">Edit</span>
                            </button>
                            <button mat-menu-item (click)="openDialog(item)">
                                <i class="fa-solid fa-trash menu-icon"></i>
                              <span class="ps-3">Delete</span>
                            </button>
                          </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-3 p-2">
            <mat-paginator [length]="tableOfTasks?.totalNumberOfRecords"
            [pageSize]="tableOfTasks?.pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="pageSizeOptions"
            (page)="handlePageEvent($event)"
            aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</section>
