<!-- <section class="auth">
    <img src="../../../assets/Images/cover.png" class="w-100 position-relative">
   <div class="d-flex justify-content-center align-items-center ">
    <img src="../../../assets/Images/PMS 2.png" class="auth-logo position-absolute w-25 mt-5 pt-5">
      <div>
    <button>Sign In</button>
    <button>Sign Up</button>
   </div>
   </div>
 
   
</section> -->
<section id="auth" class="position-relative">
  
        <!-- <!-- <img src="../../../assets/Images/background-auth.png" class="w-100 auth position-relative"> -->
         <div class=" btn-auth ">
            <button class="w-100 btn-main fw-bold" routerLink="/auth/login">Login</button>
            <br>
            <button class="w-100 btn-main fw-bold" routerLink="/auth/register">Sign Up</button>
         </div>
</section>
